<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>About</title>
  </head>
  <body class="aboutbody">
    <div class="listaboutbritney">
      <h1 class="titlebrit">Britney Jean Spears </h1>
      <ul>
        <li>Born December 2, 1981</li>
        <li>American singer, songwriter, and dancer</li>
        <li>She is referred as a pop icon</li>
        <li>Spears was ranked by Billboard as the eighth-biggest artist of the 2000s</li>
      </ul>
      <a class="anotherbtn" href="/works">FREEBRITNEY</a>
    </div>

    
  </body>
</html>
